@import './utils/variable';
@import './components/ProductItem';
@import './components/ProductItemView';
@import './components/ImageSizeControl';

@import './components/Home';

.purple-color {
    color: $purple;
}

.b-star-rate {
  padding: 5px;
  > span > span {
    margin: 0 2px;
  }
}
